<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="signle-footer-widget tp_widgets">
                        <h4 class=" footer_title large_title 
                    ">About Us</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum ab tenetur perspiciatis minima voluptatum iure sequi.</p>
                        <p class="copyright">Copyright All Rights Reserved 2020</p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="signle-footer-widget tp_widgets">
                        <h4 class="footer_title">Links</h4>
                        <ul>
                            <li><a href="#Sport">Sport</a></li>
                            <li><a href="#News">News</a></li>
                            <li>
                                <a href="#World">World</a>
                            </li>
                            <li><a href="#Link">Link</a></li>



                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="signle-footer-widget tp_widgets">
                        <h4 class="footer_title">
                            Contact Us
                        </h4>

                        <div class="ml-6">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span> Corporate Office
                            </p>
                            <p>Quartier smara rue 30 n 109 Youssoufia</p>
                            <p class="sm-head">
                                <span class="fa fa-phone"></span> phone Number
                            </p>
                            <p>+21266666666</p>
                            <p class="sm-head">
                                <span class="fa fa-envelope"></span> Email
                            </p>
                            <p>Example@gamil.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>