<!-- Categories -->
<div class="my-4">
    <div class="card shadow" style="height: auto">
        <div class="card-body">
            <h4 class="card-title">Categories</h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Sport</li>
                <li class="list-group-item">World</li>
                <li class="list-group-item">National</li>
                <li class="list-group-item">National</li>
                <li class="list-group-item">National</li>
            </ul>
        </div>
    </div>

    <!-- les meilleurs post -->

    <div class="card shadow mt-3">
        <img class="card-img-top" src="https://images.beinsports.com/JW4SuUeSlPl7trDIyzeduis2Vqw=/670x424/smart/3182976-Dybala.JPG" alt="">
        <div class="card-body">
            <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, dolores molestiae. Itaque unde magnam non.</p>
        </div>
    </div>

    <div class="card shadow mt-3">
        <img class="card-img-top" src="https://images.beinsports.com/JW4SuUeSlPl7trDIyzeduis2Vqw=/670x424/smart/3182976-Dybala.JPG" alt="">
        <div class="card-body">
            <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, dolores molestiae. Itaque unde magnam non.</p>
        </div>
    </div>



</div>